body{
    margin: 0;
    background-image: url(../body.jpg);
   
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    background-color: red;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: right;
}

li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: black;
}

h1 {
    font-size: 50px;
    text-align: center;
    padding:20px;
    background-color:#1abc9c;
    height:50px;
}

p {
    margin-top:20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;   
    line-height: 30px;
    font-weight: bold;
    margin-left: 5%;
}

a {
    text-decoration: none;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 40px;
    width: 50%;
    margin-left: 25%;
    box-sizing: border-box;
   
  } 

  h3 {
      font-size: 30px;
  }

  .input {
    width: 100%;
    padding: 50px;
    border: 5px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: -130px;
    line-height: 3em;
  }